<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- bower:css -->
  <!-- endbower -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>
  <h1><%= appName %></h1>
  <div>
    <button id="callJsx">Call JSX</button>
  </div>
  <div id="message">
    <span></span>
  </div>
<script>window.jQuery = jQuery = require('../bower_components/jquery/dist/jquery.min.js')</script>
<!-- ext:js -->
<!-- endinject -->
<!-- bower:js -->
<!-- endbower -->
<!-- inject:js -->
<!-- endinject -->
<!-- node:js -->
<!-- endinject -->
</body>
</html>
